.cd-nav {
  margin-bottom: 3%;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      padding: 10px 15px;
      background-color: #9DB2BF;
      border: 1px solid #DDDDDD;
      text-align: center;
      cursor: pointer;
      color: #FFF;
    }

    .active {
      color: black;
      background-color: #DDE6ED;

      &:before {
        content: ' ';
        height: 0;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFF;
        top: 31px;
        margin-left: 1%;
      }
    }
  }
}